* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

/* pagination.css */

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.page-item {
  margin: 0 5px;
  cursor: pointer;
  list-style: none;
  display: inline;
}

.page-link {
  padding: 5px 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #333;
  text-decoration: none;
}

.page-link:hover {
  background-color: #eee;
}

.page-item .active {
  background-color: #007bff !important;
  color: #fff !important;
}

.card {
  margin-bottom: 40px;
}

.viewBtn {
  background: #007bff !important;
  color: #fff !important;
  border: none;
  font-size: 14px;
  margin-top: 20px !important;
}

.button {
  padding: 10px;
  background: #ffffff;
  color: #000000;
}

.button.dark {
  background: #333333;
  color: #ffffff;
}